@model Infinity.Bnois.Api.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
}


@using (Html.BeginForm("reset-password", "core/authentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Code)



<style>
    .custom-btn-primary {
        color: #ffffff;
        background-color: #3BBF38;
        border-color: #89C541;
    }

        .custom-btn-primary:hover {
            color: #ffffff;
            background-color: #1C9C17;
            border-color: #1E9019;
        }

    .form-control {
        display: inline-block;
    }

    .logo {
        display: inline-block;
        margin: 0px auto 8px;
        /*width: 40px;*/
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        overflow: hidden;
        margin-top: 30px;
        margin: 0 auto;
        max-width: 510px;
        padding: 20px;
    }

    .login-button {
        margin-top: 5px;
    }

    .login-register {
        font-size: 14px;
        text-align: center;
    }

        .login-register a:hover {
            text-decoration: underline;
        }

    .form-min-height {
        height: 55px;
    }

    /*@@media only screen and (min-width: 1200px) {
        .body-content > div {
            height: 80vh;
            margin-bottom: 0;
        }
    }

    @@media only screen and (min-width: 768px) and (max-width: 1199px) {
        .body-content > div {
            height: 80vh;
            margin-bottom: 0;
        }
    }

    @@media only screen and (min-width: 481px) and (max-width: 767px) {
        .body-content > div {
            height: auto;
            margin-bottom: 50px;
        }
    }

    @@media only screen and (max-width: 480px) {
        .body-content > div {
            height: auto;
            margin-bottom: 50px;
        }
    }*/
</style>




<div class="register-form">
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <a href="#">
                        <img src="../../Content/images/BNLogo.jpg" class="logo img-responsive" alt="LOGO">
                    </a>
                    <h4 class="title">
                        @ViewBag.Title
                    </h4>
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email"   })
                                </div>
                                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter your password"  })
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter your confirm password"  })
                                </div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button type="submit" style="margin: 20px auto;width: 50%;" class="btn btn-lg btn-block custom-btn-primary" value="Reset"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
